{% extends "layout.html" %}
{% block title %}Log In{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='signin.css') }}">
{% endblock %}

{% block navbar %}{% endblock %}

{% block content %}
<body class="text-center">
    <main class="form-signin w-100 m-auto">
        <h1 class="h3 mb-3 fw-normal">Please Sign In</h1>
        <div class="form-floating">
            <input type="text" class="form-control" id="username" placeholder="user">
            <label for="username">Username</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" id="password" placeholder="Password">
            <label for="password">Password</label>
        </div>
        <div class="checkbox mb-3">
            <label>
              <input type="checkbox" value="remember-me"> Remember me
            </label>
          </div>
        <button class="w-100 btn btn-lg btn-primary" id="signin_btn">Sign In</button>
        <a href="/signup" class="w-100 btn btn-lg btn-success">Or Sign Up Instead!</a>
    </main>
    <script src="{{ url_for('static', filename='signin.js') }}"/>
</body>
{% endblock %}