{% extends "layout.html" %}
{% block title %}Log In{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}

{% block navbar %}{% endblock %}

{% block content %}
<body>
    <div class="center">
        <img class="" src="{{ url_for('static', filename='img/dwk_logo.png') }}">
        <form id="loginForm">
            <div class="form-floating mb-1">
                <input type="text" class="form-control" id="username" placeholder="user">
                <label for="username">Username</label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" class="form-control" id="password" placeholder="Password">
                <label for="password">Password</label>
            </div>
            <div class="mb-3">
                <a href="/signup" class="btn login">Sign Up</a>
                <button type="submit" class="btn login">Log In</button>
            </div>
        </form>
    </div>

    <script src="{{ url_for('static', filename='login.js') }}"/>
</body>
{% endblock %}