{% extends "layout.html" %}
{% block title %}Sign Up{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}

{% block navbar %}{% endblock %}

{% block content %}
<body>
    <div class="center">
        <img class="" src="{{ url_for('static', filename='img/dwk_logo.png') }}">
        <form id="signUpForm">
            <div class="form-floating mb-1">
                <input type="text" class="form-control" id="name" placeholder="Name">
                <label for="name">Name</label>
            </div>
            <div class="form-floating mb-1">
                <input type="text" class="form-control" id="username" placeholder="Username">
                <label for="username">Username</label>
            </div>
            <div class="form-floating mb-1">
                <input type="password" class="form-control" id="password" placeholder="Password">
                <label for="password">Password</label>
            </div>
            <div class="form-floating mb-3">
                <select class="form-select" id="team-select" aria-label="Default select example">
                    <option selected disabled value="error">Select your team</option>
                    <option value="app">Application</option>
                    <option value="op">Operate</option>
                    <option value="res">Resilency</option>
                </select>
                <label for="team-select">Select Team</label>
            </div>
            <div class="mb-3">
                <button type="submit" class="btn login" style="width: 100% !important">Sign Up</button>
            </div>
            
        </form>
    </div>

    <script src="{{ url_for('static', filename='signup.js') }}"/>
</body>
{% endblock %}