{% extends "layout.html" %}
{% block title %}Trap Editor{% endblock %}

{% block head %}
    {{ super() }}
    <script src="{{ url_for('static', filename='trap_viewer.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/trap_viewer.css') }}">
{% endblock %}

{% block content %}
  <table id="TrapEditorTable">
    <tr>
      <td rowspan=3>Pre-Event Planning</td>
      <td class="trap_details"></td>
      <td class="trap_details"></td>
      <td class="trap_details"></td>
    </tr>
    <tr>
      <td rowspan=3>Pre-Declaration</td>
      <td class="trap_details"></td>
      <td class="trap_details"></td>
      <td class="trap_details"></td>
    </tr>
    <tr>
      <td rowspan=4>Source Shutdown</td>
      <td class="trap_details"></td>
      <td class="trap_details"></td>
      <td class="trap_details"></td>
    </tr>
    <tr>
      <td rowspan=8>Starting Target</td>
      <td class="trap_details"></td>
      <td class="trap_details"></td>
      <td class="trap_details"></td>
    </tr>
    <tr>
      <td rowspan=4>Environment Verification</td>
      <td class="trap_details"></td>
      <td class="trap_details"></td>
      <td class="trap_details"></td>
    </tr>
    <tr>
      <td class="trap_details"></td>
      <td class="trap_details"></td>
      <td class="trap_details"></td>
    </tr>
    <tr>
      <td class="trap_details"></td>
      <td class="trap_details"></td>
      <td class="trap_details"></td>
    </tr>
    <tr>
      <td class="trap_details"></td>
      <td class="trap_details"></td>
      <td class="trap_details"></td>
    </tr>
    <tr>
      <td class="trap_details"></td>
      <td class="trap_details"></td>
      <td class="trap_details"></td>
    </tr>
    <tr>
      <td class="trap_details"></td>
      <td class="trap_details"></td>
      <td class="trap_details"></td>
    </tr>    
    <tr>
      <td class="trap_details"></td>
      <td class="trap_details"></td>
      <td class="trap_details"></td>
    </tr>    
    <tr>
      <td class="trap_details"></td>
      <td class="trap_details"></td>
      <td class="trap_details"></td>
    </tr>    
    <tr>
      <td class="trap_details"></td>
      <td class="trap_details"></td>
      <td class="trap_details"></td>
    </tr>    
    <tr>
      <td class="trap_details"></td>
      <td class="trap_details"></td>
      <td class="trap_details"></td>
    </tr>    
    <tr>
      <td class="trap_details"></td>
      <td class="trap_details"></td>
      <td class="trap_details"></td>
    </tr>    
    <tr>
      <td class="trap_details"></td>
      <td class="trap_details"></td>
      <td class="trap_details"></td>
    </tr>
    
    <tr>
      <td class="trap_details"></td>
      <td class="trap_details"></td>
      <td class="trap_details"></td>
    </tr>
    <tr>
      <td class="trap_details"></td>
      <td class="trap_details"></td>
      <td class="trap_details"></td>
    </tr>
    <tr>
      <td class="trap_details"></td>
      <td class="trap_details"></td>
      <td class="trap_details"></td>
    </tr>
    <tr>
      <td class="trap_details"></td>
      <td class="trap_details"></td>
      <td class="trap_details"></td>
    </tr>
    <tr>
      <td class="trap_details"></td>
      <td class="trap_details"></td>
      <td class="trap_details"></td>
    </tr>
    <tr>
      <td class="trap_details"></td>
      <td class="trap_details"></td>
      <td class="trap_details"></td>
    </tr>
  </table>
{% endblock %}