{% extends "layout.html" %}
{% block title %}Application Team Dashboard{% endblock %}

{% block head %}
    {{ super() }}
    <!-- Add Head Code Here -->
    <script src="{{ url_for('static', filename='res_team.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-2 pb-2">
                <button type="button" class="btn btn-secondary" style="width: 100%;" onclick="history.back()">Back</button>
            </div>
            <div class="col-lg-8 pb-2">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="searchBox" placeholder="Name of Application" value="{{ app.name }}">
                    <label for="floatingInput">Search</label>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 pb-2">
                <div class="card card-body">
                    <h3 class="card-title">App Info</h3>
                    <table class="table table-striped table-hover">
                        <tbody>
                            <tr>
                                <th>App Name</th>
                                <td>{{ app.name}}</td>
                            </tr>
                            <tr>
                                <th>App ID</th>
                                <td>{{ app.id }}</td>
                            </tr>
                            <tr>
                                <th>App Staff 1</th>
                                <td>{{app.app_1.name}} <span class="badge bg-secondary">{{app.app_1.id}}</span></td> <!-- App Name 1 -->
                            </tr>
                            <tr>
                                <th>App Staff 2</th>
                                <td>{{app.app_2.name}} <span class="badge bg-secondary">{{app.app_2.id}}</span></td> <!-- App Name 2 -->
                            </tr>
                            <tr>
                                <th>App Location</th>
                                <td>{{ app.primary_location }}</td>
                            </tr>
                            <tr>
                                <th>App Alt Location</th>
                                <td>{{ app.alt_location }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <br>
                <div class="card card-body">
                    <h3 class="card-title">Scheduled Tests</h3>
                    <table class="table table-striped table-hover">
                        <tbody>
                            <tr>
                                <th>DATE</th>
                                <td><button class="btn btn-primary" style="width: 100%">Entry</button></td>
                            </tr>
                            <tr>
                                <th>DATE</th>
                                <td><button class="btn btn-primary" style="width: 100%">Entry</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-lg-8 pb-2">
                <div class="card card-body">
                    <h3 class="card-title">Testing Compliance Reports</h3>
                    <table class="table table-striped table-hover">
                        <tbody>
                            <tr>
                                <th>Report</th>
                                <td><button class="btn btn-primary" style="width: 100%" onclick="open_report('{{ app.id }}', '{{  app.name }}')" >Open</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <br>
                <div class="card card-body">
                    <h3 class="card-title">Testing Reports</h3>
                    <table class="table table-striped table-hover">
                        <tbody>
                            <tr>
                                <th>Report</th>
                                <td><button class="btn btn-primary" style="width: 100%" onclick="open_report('{{ app.id }}', '{{  app.name }}')">Open</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
